{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-4">
    {% for recordActivity, attendance in recordsActivityList.items %}
        <div class="card shadow" style="margin-top: 5%;">
            <div class="card-body">
                <div class="card-title">
                    <h4>{{ recordActivity }}</h4>
                    <p>Asistencias: {{attendance}}</p>
                </div>
                <div class="card-body">
                {% for record in records %}
                    {% if record.activity == recordActivity %}
                        <span class="badge rounded-pill text-bg-primary" style="margin-top: 3%;">
                            {{ record.date|date:'d/m/Y' }}
                        </span>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}
