{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

<div class="container">
    <form class="d-flex" method="GET" action="{% url 'volunteers' %}" style="margin-top: 5%;">
        <input class="form-control me-2" name="search" type="search" placeholder="Voluntario" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    {% for recordVolunteer, attendance in recordsVolunteersDict.items %}
        <p style="margin-top: 3%; margin-left: 3%;">
            {{ recordVolunteer }}. Cantidad asistencias: {{ attendance }}
        </p>
    {% endfor %}
</div>

{% endblock %}