{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

<div class="container">
    <form class="d-flex" method="GET" action="{% url 'volunteers' %}" style="margin-top: 5%;">
        <input class="form-control me-2" name="search" type="search" placeholder="Voluntario" aria-label="Search">
        <input class="form-control me-2" name="year" type="text" inputmode="numeric" pattern="\d*" placeholder="Año asistencia" aria-label="Search" style="max-width: 25%;" title="Ingrese solo números para el año">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    {% for recordVolunteer, attendance in recordsVolunteersDict.items %}
        <div class="card" style="margin-top: 3%;">
            <div class="card-body">
                <div class="card-title">
                    <h5> {{ recordVolunteer }} </h5>
                    Cantidad asistencias: {{ attendance }}
                </div>
                {% if attendance != 0 %}
                    <div class="card-body">
                        {% for record in records %}
                            {% if record.volunteer == recordVolunteer %}
                                <span class="badge rounded-pill text-bg-primary" style="margin-top: 1%; margin-left: 1%;">
                                    {{ record.date|date:'d/m/Y' }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            </p>
        </div>
    {% endfor %}
</div>

{% endblock %}