{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
    {% image self.banner_image fill-900x400 as img %}
    <div class="jumbotron" style = "background-image: url('{{ img.url }}'); background-size: contain;">
        <h1 class="display-4"> {{ self.banner }} <h1>
        <div class = "lead"> {{ self.banner_subtitle|richtext }} </div>
        <a class="btn btn-primary btn-lg" href="#" role="button">chancla</a>
    </div>
    {% if settings.site_settings.SocialMediaSettings.whatsapp %}
        <i class="fa-brands fa-whatsapp"></i>
    {% endif %}
    {% if settings.site_settings.SocialMediaSettings.instagram %}
        <i class="fa-brands fa-instagram"></i>
    {% endif %}
    {% if settings.site_settings.SocialMediaSettings.email %}
        <i class="fa-regular fa-envelope"></i>
    {% endif %}
    
{% endblock %}