{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}

    <div class="container">

        {% for post in posts %}

            <div class="card">
                <div class="card-img-top">
                    {% image post.activitie_image fill-300x300 as activitie_img %}
                    <img src="{{ activitie_img.url }}" alt="{{ activitie_img.alt }}" class="img-fluid"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Actividad</h5>
                    <p class="card-text">
                        {% for block in post.content %}
                            {% include_block block %}
                        {% endfor %}
                    </p>
                    {% if request.user.is_staff %}
                        <form action="{% url 'ver_inscriptos' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary">
                                Ver Inscriptos
                            </button>
                        </form>
                    {% else %}
                        {% if volunteer %}
                            {% if post in activities %}
                                {% for vehicle in vehicles %}
                                    {% if vehicle.activitie == post %}
                                        Vehiculo seleccionado {{ vehicle }}
                                    {% endif %}
                                {% endfor %}
                                <div class="form-group">
                                    <form id="vehicleSelectForm" action="{% url 'select_vehicle' %}" method="POST">
                                        {% csrf_token %}
                                        <select class="form-select mt-4" name="vehicle_option" id="vehicle_option" onchange="this.form.submit()">
                                            <option disabled selected hidden>Seleccionar un vehiculo</option> 
                                            <option value='{"post_id": "{{ post.id }}", "vehicle": "Ninguno"}'>Ninguno</option>
                                            {% for vehicle in vehicles %}
                                                <option value='{"post_id": "{{ post.id }}", "vehicle": "{{ vehicle }}"}' autor="manuel">{{ vehicle }}</option> 
                                            {% endfor %}
                                        </select>
                                    </form>
                                </div>
                                <div class="form-group">
                                    <form action="{% url 'inscripcion_post' post.pk %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary mt-4">
                                                Desinscribirse
                                        </button>
                                    </form>
                                </div>  
                            {% else %} 
                                <div class="row">
                                    <div class="col">
                                        <form action="{% url 'inscripcion_post' post.pk %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary">
                                                    Inscribirse
                                            </button>
                                        </form>
                                    </div>
                                </div>  
                            {% endif %}
                        {% else %}
                            <div class="row">
                                <div class="col">
                                    <form action="{% url 'account_login' %}" method="GET">
                                        {% csrf_token %}
                                        <button type="submit", class="btn btn-primary">
                                            Inicia Sesión
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            
        {% endfor %}
    </div>

{% endblock content %}