{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}


<div class="container mt-4">
    {% if volunteers %}
        <form action="{% url 'add_attendance' %}" method="POST">
            <h2>Inscriptos</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Asistió</th>
                    </tr>
                </thead>
                <tbody>
                    <input type="hidden" name="actividad_id" value='{{ activity.id }}' />
                    {% for volunteer in volunteers %}
                        <tr class="table-default">
                            <td>{{ volunteer }}</td>
                            <td>
                                {% if volunteer in volunteersPresentList %}
                                        <input checked="checked" name="{{volunteer.id}}" class="form-check-input" type="checkbox" value='{"activity_id": "{{ activity.id }}", "volunteer": "{{ volunteer.id }}"}'>
                                {% else %}
                                        <input name="{{volunteer.id}}" class="form-check-input" type="checkbox" value='{"activity_id": "{{ activity.id }}", "volunteer": "{{ volunteer.id }}"}'>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% csrf_token %}
                </tbody>
            </table>
            <button type="submit", class="btn btn-primary">
                Guardar
            </button>
        </form>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-4">
                <h3>
                    No hay inscriptos
                </h3> 
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}