{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}


<div class="container mt-4 overflow-auto">
    {% if volunteers %}
        <h2>Inscriptos</h2>
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Barrio</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Vehículo</th>
                </tr>
            </thead>
            <tbody>
                {% for volunteer in volunteers %}
                    <tr class="table-default">
                        <td>{{ volunteer }}</td>
                        <td>{{ volunteer.phone }}</td>
                        <td>{{ volunteer.address }}</td>
                        <td>{{ volunteer.neighborhood }}</td>
                        <td>{{ volunteer.career }}</td>
                        {% if volunteer in volunteersWithVehicle %}
                            {% for vehicle in vehicles %}
                                {% if vehicle.proprietary == volunteer %}
                                    {% if vehicle.domain == "Pasajero" %}
                                        <td>{{ vehicle.domain }}</td>
                                    {% else %}
                                        <td>{{ vehicle.brand }} {{ vehicle.model }}<br>{{ vehicle.room }} plazas</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td></td>
                        {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-4">
                <h3>
                    No hay inscriptos
                </h3> 
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}