{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

    <div class="container">
        {% for post in posts %}

            <div class="row">
                <div class="col-sm-3">
                    {% image post.activitie_image fill-250x250 as activitie_img %}
                    <a href="{{ post.url }}">
                        <img src="{{ activitie_img.url }}" alt="{{ activitie_img.alt }}">
                    </a>
                </div>
                {% if volunteer %}
                    <form action="{% url 'inscripcion_post' post.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary">
                            {% if post in activities %}
                                Desinscribirse
                            {% else %}
                                Inscribirse
                            {% endif %} 
                        </button>
                    </form>
                    {% if post in activities %}

                        <form action="{% url 'select_vehicle' %}" method="POST">
                            <label for="vehiculos">Seleccione algun vehículo:</label> 
                            <select name="vehicle_option" id="vehicle_option"> 
                                <option>Ninguno</option>
                                {% for vehicle in vehicles %}
                                    <option value="{{ vehicle }}">{{ vehicle }}</option> 
                                {% endfor %}
                            </select>
                            {% csrf_token %}
                            <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary">
                                Seleccionar
                            </button>
                        </form>

                    {% endif %} 
                    
                {% else %}
                    <form>
                        <button class="btn btn-primary"> Inicia Sesión </button>
                    </form>
                {% endif %}
            </div>

            {% for block in post.content %}
                {% include_block block %}
            {% endfor %}

        {% endfor %}
    </div>

{% endblock content %}