{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}

    <div class="container mt-4">
        <div class="row justify-content-center">
            {% for post in posts %}
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-9 col-10 mt-4 d-flex" style="margin-bottom: 3%;">
                    <div class="card shadow">
                        <div class="card-img-top">
                            {% image post.activitie_image fill-500x500 as activitie_img %}
                            <img src="{{ activitie_img.url }}" alt="{{ activitie_img.alt }}" class="img-fluid rounded-top"/>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.custom_title }}</h5>
                            <p class="card-text">
                                {% for block in post.content %}
                                    {% include_block block %}
                                {% endfor %}
                                <p>Inicio actividad: {{ post.activity_start_date|date:"d m Y" }}</p>
                                <p>Fin actividad: {{ post.activity_end_date|date:"d m Y" }}</p>
                            </p>
                        </div>
                        {% if request.user.is_superuser and inscripted == True %}
                            <div class="card-footer bg-transparent border-0">
                                <form action="{% url 'ver_inscriptos' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="d-grid gap-2">
                                        <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary">
                                            Ver Inscriptos
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer bg-transparent border-0">
                                <form action="{% url 'tomar_asistencia' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="d-grid gap-2">
                                        <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary">
                                            Tomar Asistencia
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer bg-transparent border-0">
                                <form action="{% url 'historial_asistencia' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="d-grid gap-2">
                                        <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary">
                                            Historial Asistencia
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            {% if volunteer %}
                                {% if inscripted == False %}
                                    <div class="card-footer bg-transparent border-0">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-grid gap-2">
                                                    <button type="button", class="btn btn-secondary">
                                                            No inscripto
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {% if post in activities %}
                                        {% for vehicle in vehicles %}
                                            {% if vehicle.activitie == post %}
                                                <div class="card-body">
                                                    Vehiculo seleccionado {{ vehicle }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="card-body">
                                            <form id="vehicleSelectForm" action="{% url 'select_vehicle' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="volunteering_id", value="{{ volunteering.id }}">
                                                <select class="form-select" name="vehicle_option" id="vehicle_option" onchange="this.form.submit()">
                                                    <option disabled selected hidden>Seleccionar un vehiculo</option> 
                                                    <option value='{"post_id": "{{ post.id }}", "vehicle": "Ninguno"}'>Ninguno</option>
                                                    {% for vehicle in vehicles %}
                                                        <option value='{"post_id": "{{ post.id }}", "vehicle": "{{ vehicle }}"}'>{{ vehicle }}</option> 
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        </div>
                                        <div class="card-footer bg-transparent border-0">
                                            <div class="row">
                                                <div class="col">
                                                    <form action="{% url 'inscripcion_post' post.pk %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden", name="volunteering_id", value="{{ volunteering.id }}">
                                                        <div class="d-grid gap-2">
                                                            <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary">
                                                                    Desinscribirse
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %} 
                                        {% if post.activity_start_date <= current_date and post.activity_end_date > current_date %}
                                            <div class="card-footer bg-transparent border-0">
                                                <div class="row">
                                                    <div class="col">
                                                        <form action="{% url 'inscripcion_post' post.pk %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="volunteering_id", value="{{ volunteering.id }}">
                                                            <div class="d-grid gap-2">
                                                                <button type="submit", name="actividad_id", value="{{ post.id }}", class="btn btn-primary">
                                                                        Inscribirse
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="card-footer bg-transparent border-0">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="d-grid gap-2">
                                                            <button type="button", class="btn btn-secondary">
                                                                    No disponible
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if post.activity_start_date <= current_date and post.activity_end_date > current_date %}
                                    {% if request.user.is_authenticated %}
                                        <div class="card-footer bg-transparent border-0">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="d-grid gap-2">
                                                        <button type="submit", class="btn btn-secondary">
                                                            Cuenta no verificada
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card-footer bg-transparent border-0">
                                            <div class="row">
                                                <div class="col">
                                                    <form action="{% url 'account_login' %}" method="GET">
                                                        {% csrf_token %}
                                                        <div class="d-grid gap-2">
                                                            <button type="submit", class="btn btn-primary">
                                                                Inicia Sesión
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="card-footer bg-transparent border-0">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-grid gap-2">
                                                    <button type="button", class="btn btn-secondary">
                                                        No disponible
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}