{% extends "base.html" %}
{% load static i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container" style="margin-top: 3%; text-align: center;">
    <h5>
        Cambiar contraseña
    </h5>
    <form method="POST" action="" style="margin-top: 5%;">
        {% csrf_token %}
        <input class="form-control mx-auto" type="password" name="password1" placeholder="Nueva contraseña" autocomplete="new-password" required id="id_password1" style="width: 20em;">
        <input class="form-control mx-auto" type="password" name="password2" placeholder="Repita su nueva contraseña" autocomplete="new-password" required id="id_password2" style="margin-top: 3%; width: 20em;">
        <input type="button" class="btn btn-outline-success" style="width: 13em; margin-top: 3%;" name="action" value="Cambiar contraseña" onclick="formatoURL(this, '{{request.path}}')">
    </form>
</div>
{% endblock content %}