{% extends "base.html" %}
{% load static i18n%}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="container" style="text-align: center; margin-top: 3%;">
    <h5>
        Reestablecer contraseña
    </h5>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <img src="{% static 'images/contraseña.png' %}" style="width:  15em; aspect-ratio: 1 / 1; margin-top: 3%;">
    <p style="margin-top: 3%;">
        Te enviamos un correo! Si no lo recibiste revisa tu casilla de spam.
    </p>
    <p>
        Si tienes algún problema comunícate con un coordiador o directivo del VUCC.
    </p>
</div>
{% endblock content %}