{% extends "base.html" %}
{% load i18n%}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="container justify-content-center" style="margin-top: 3%; text-align: center;">
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <h5>
        ¿Olvidaste tu contraseña?
    </h5>
    <br>
    Ingresa tu email y te enviaremos un correo para que puedas reestablecerla.
    {% url 'account_reset_password' as reset_url %}
    <form class="row justify-content-center" method="post" action="/password/reset/" style="margin-top: 5%;">
        {% csrf_token %}
        <input class="form-control me-2" style="width: 20em;" type="email" name="email" placeholder="Email" autocomplete="email" required id="id_email">
        <button class="btn btn-outline-success" style="width: 5.5em;" type="submit">
            Enviar
        </button>
    </form>
    <div style="margin-top: 5%;">Si tienes algún problema comunícate con un coordiador o directivo del VUCC.</div>
</div>
{% endblock content %}