{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}

    <div class="container">
        <h4 class="mt-3">
            Hola
                {% if request.user.is_superuser %} 
                    coordinador, Bienvenido!
                {% else %}
                    {% if volunteer %}
                        voluntario, Bienvenido!
                    {% else %}
                        , su cuenta no ha sido verificada por un coordinador.
                    {% endif %}
                {% endif %}
        </h4>
        {% if volunteer %}
        {% if self.content %}

            {% for bulletin in self.content %}
                <div class="row justify-content-center">
                    <div class="col-8 mt-2">
                        {{ bulletin }}
                    </div>
                </div>
            {% endfor %}

        {% else %}
            No hay ninguna novedad!
        {% endif %}
        {% endif %}
    </div>

{% endblock content %}