{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% block content %}

        {% if volunteer.validated %}
            <div class="container">
                <h4 style="margin-top: 3%;">
                    Hola {{ volunteer.user.first_name }}, bienvenido!
                </h4>
                {% if restartAvailable %}
                    <div class="text-center">
                        <form action="{% url 'restart_year' %}" method="POST">
                            {% csrf_token %}
                            <input type="button" value="Iniciar nuevo año del VUCC", onclick="reiniciarVUCC(this)", class="btn btn-danger">
                        </form>
                    </div>
                {% endif %}
                {% if volunteerings %}
                    <div class="row justify-content-center" style="margin-top: 3%;">
                        <h5 style="text-align: center; margin-bottom: 3%;">
                            Tus voluntariados
                        </h5>
                        {% for volunteering in volunteerings %}
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5" style="margin-bottom: 3%;">
                                <div class="card shadow">
                                    <div class="row justify-content-center">
                                        <img src="{{ volunteering.image.url }}" style="width: 100%; aspect-ratio: 1 / 1; padding: 10%;">
                                    </div>
                                    <div style="text-align: center; font-size: small; margin-top: -10%; margin-bottom: 10%;">
                                        {% if volunteer in volunteering.coordinadores.all %}
                                            Coordinador
                                        {% else %}
                                            {% if volunteer in volunteering.volunteers.all %}
                                                Voluntario
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <form action="{% url 'ver_voluntariado' %}" class="justify-content-center d-flex" style="padding-bottom: 10%;" method="GET">
                                            <button type="submit", name="volunteering_id", value="{{ volunteering.id }}", class="btn btn-primary">
                                                Ver
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    
                {% endif %}
                {% if self.content %}
                    {% for bulletin in self.content %}
                        <div class="row justify-content-center">
                            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-10 mt-2">
                                {{ bulletin }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    No hay ninguna novedad!
                {% endif %}
            </div>
        {% else %}
            <div class="container">
                <div style="margin: auto; text-align: center;">
                    <h4 style="margin-top: 3%;">
                        ¡Bienvenido!
                        <br>
                        Su cuenta todavía no ha sido validada.
                    </h4>
                    <img src="{% static 'images/tiempo-restante.png' %}" style="width:  15em; aspect-ratio: 1 / 1;margin-top: 3%; max-width: 90%;">
                    <h5 style="margin-top: 5%;">
                        Cualquier consulta comuníquese con su coordinador o directivo del VUCC.
                    </h5>
                </div>
            </div>
        {% endif %}

{% endblock content %}