{% load wagtailcore_tags %}

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{self.number}}" aria-expanded="false" aria-controls="collapse{{self.number}}">
          {{ self.question }}
        </button>
      </h2>
      <div id="collapse{{self.number}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {% for responses in self.elements %}
                <p>
                    <strong>{{ responses.response }}</strong>
                </p>
            {% endfor %}
        </div>
      </div>
    </div>
</div>


<h3></h3>

