{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

{% if vehicles %}
    {% for vehicle in vehicles %}
        {{ vehicle.domain }}
        {{ vehicle.brand }}
        {{ vehicle.model }}
        {% if vehicle.activitie %}
            inscripto en la actividad {{ vehicle.activitie.custom_title }}
        {% else %}
            No esta inscripto en ninguna actividad
        {% endif %}
        <form action="{% url 'delete_vehicle' %}" method="POST">
            {% csrf_token %}
            <button type="submit", name="vehicle_id" value="{{ vehicle.id }}", class="btn btn-primary">
                -
            </button>
        </form>
        <br>
    {% endfor %}
{% endif %}
<form action="{% url 'add_vehicle' %}" method="POST">
    <input type="text" id="domain" name="domain" placeholder="patente">
    <input type="text" id="brand" name="brand" placeholder="marca">
    <input type="text" id="model" name="model" placeholder="modelo">
    {% csrf_token %}
    <button type="submit", class="btn btn-primary">
        +
    </button>
</form>

{% endblock %}
