{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

<div class="container mt-4">

    <div class="overflow-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Patente</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Plazas</th>
                    <th scope="col">Agregar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-default">
                    <form action="{% url 'add_vehicle' %}" method="POST">
                        <td><input type="text" class="form-control  form-control-sm" id="domain" name="domain" placeholder="Patente" required></td>
                        <td><input type="text" class="form-control  form-control-sm" id="brand" name="brand" placeholder="Marca" required></td>
                        <td><input type="text" class="form-control  form-control-sm" id="model" name="model" placeholder="Modelo" required></td>
                        <td><input type="text" class="form-control  form-control-sm" id="room" name="room" placeholder="Plazas" required></td>
                        {% csrf_token %}
                        <td>
                            <button type="submit", class="btn btn-primary">+</button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>

    {% if vehicles %}
            <div class="row" style="margin-top: 3%;">
                {% for vehicle in vehicles %}
                    {% if vehicle.domain != "Pasajero" %}
                        <div class="card col-xxl-5 col-xl-5 col-lg-5 col-md-11 col-sm-11 col-11" style="margin-bottom: 3%; margin-left: auto; margin-right: auto;">
                            <div class="card-body">
                                <h5 class="card-title">Patente: {{ vehicle.domain }}</h5>
                                <div class="card-text">Marca: {{ vehicle.brand }}</div>
                                <div class="card-text">Modelo: {{ vehicle.model }}</div>
                                <div class="card-text">Plazas: {{ vehicle.room }}</div>
                                {% if vehicle.activitie.all %}
                                    <div class="card-text">Actividad:
                                        {% for activity in vehicle.activitie.all %}
                                            - {{ activity.custom_title }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="card-text">No está inscrito en ninguna actividad</div>
                                {% endif %}
                                <form action="{% url 'delete_vehicle' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="vehicle_id", value="{{ vehicle.id }}">
                                    <input type="button" value="Eliminar", onclick="eliminarVehiculo(this, '{{ vehicle.domain }}')", class="btn btn-danger" style="margin-top: 3%">
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    {% endif %}
    
    

</div>




{% endblock %}
